<div class="container">
    <form
    class="form-horizontal"
    autocomplete="off"
    #createOrderModal="ngForm"
    (ngSubmit)="save()"
    >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="col-form-label" for="name">
                    {{ "Order Name" | localize }}
                    </label>
                    <div>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                        required
                        maxlength="32"
                        [(ngModel)]="order.name"
                        #nameModel="ngModel"
                        #nameEl
                    />
                    <abp-validation-summary
                        [control]="nameModel"
                        [controlEl]="nameEl"
                    ></abp-validation-summary>
                    </div>

                </div>

                <div class="form-group required">
                    <label class="col-form-label" for="orderNo">
                    {{ "Order.No" | localize }}
                    </label>
                    <div>
                    <input
                        type="text"
                        class="form-control"
                        name="orderNo"
                        id="orderNo"
                        required
                        maxlength="32"
                        [(ngModel)]="order.orderNo"
                        #orderNoModel="ngModel"
                        #orderNoEl
                    />
                    <abp-validation-summary
                        [control]="orderNoModel"
                        [controlEl]="orderNoEl"
                    ></abp-validation-summary>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="col-form-label" for="empolyeeName">
                    {{ "Empolyee Name" | localize }}
                    </label>
                    <div>
                    <input
                        type="text"
                        class="form-control"
                        name="empolyeeName"
                        id="empolyeeName"
                        required
                        maxlength="32"
                        [(ngModel)]="order.empolyeeName"
                        #empolyeeNameModel="ngModel"
                        #empolyeeNameEl
                    />
                    <abp-validation-summary
                        [control]="empolyeeNameModel"
                        [controlEl]="empolyeeNameEl"
                    ></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-form-label" for="totalPrice">
                    {{ "TotalPrice" | localize }}
                    </label>
                    <div>
                    <input
                        type="number"
                        class="form-control"
                        name="totalPrice"
                        id="totalPrice"
                        required
                        maxlength="32"
                        [(ngModel)]="order.totalPrice"
                        #totalPriceModel="ngModel"
                        #totalPriceEl
                    />
                    <abp-validation-summary
                        [control]="totalPriceModel"
                        [controlEl]="totalPriceEl"
                    ></abp-validation-summary>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                
                <div class="form-group required">
                    <label class="col-form-label" for="orderDate">
                    {{ "Order Date" | localize }}
                    </label>
                    <div>
                    <input
                        type="date"
                        class="form-control"
                        name="orderDate"
                        id="orderDate"
                        required
                        maxlength="32"
                        [(ngModel)]="order.orderDate"
                        #orderDateModel="ngModel"
                        #orderDateEl
                    />
                    <abp-validation-summary
                        [control]="orderDateModel"
                        [controlEl]="orderDateEl"
                    ></abp-validation-summary>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-borderless">
            <thead class="thead-light">
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>
                    <a href="javascript:;" class="btn bg-blue" (click)="createItem()">
                        <i class="fa fa-plus-square"></i>
                        {{ "Create" | localize }}
                    </a>
                </th>
            </thead>
            <tbody>
                <tr *ngFor = "let item of items">
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.totalPrice}}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <button  typr="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        </div>
    </form>

</div>

    