<div class="container">
    <form
    class="form-horizontal"
    autocomplete="off"
    #editOrder2Form="ngForm"
    (ngSubmit)="editOrder2Form.valid && save()"
    >
        <h3 >EditOrder</h3>
        <div class="modal-body">
            <div class="form-group row required">
                <label class="col-md-2 col-form-label" for="orderName">
                {{ "order Name" | localize }}
                </label>
                <div class="col-md-9">
                    <input
                    [class.is-invalid]="editOrder2Form.submitted && !nameModel.valid"
                    type="text"
                    class="form-control"
                    name="name"
                    id="orderName"
                    required
                    maxlength="32"
                    [(ngModel)]="order.name"
                    #nameModel="ngModel"
                    #nameEl
                    />
                    <div 
                        *ngIf="editOrder2Form.submitted && !nameModel.valid">
                        <div *ngIf="nameModel.errors.required" class="error invalid-feedback d-block ng-star-inserted">
                            order Name is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-2 col-form-label" for="orderNo">
                    {{ "orderNo" | localize }}
                </label>
                <div class="col-md-9">
                    <input
                    [class.is-invalid]="editOrder2Form.submitted && !orderNoModel.valid"
                    type="number"
                    class="form-control"
                    name="orderNo"
                    id="orderNo"
                    required
                    maxlength="32"
                    [(ngModel)]="order.orderNo"
                    #orderNoModel="ngModel"
                    #orderNoEl
                    />
                    <div 
                        *ngIf="editOrder2Form.submitted && !orderNoModel.valid">
                        <div *ngIf="orderNoModel.errors.required" class="error invalid-feedback d-block ng-star-inserted">
                            orderNo is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-2 col-form-label" for="empolyeeName">
                    {{ "Employee Name" | localize }}
                </label>
                <div class="col-md-9">
                    <input
                    [class.is-invalid]="editOrder2Form.submitted && !empolyeeNameModel.valid"
                    type="text"
                    class="form-control"
                    name="empolyeeName"
                    id="empolyeeName"
                    required
                    minlength="2"
                    maxlength="32"
                    [(ngModel)]="order.empolyeeName"
                    #empolyeeNameModel="ngModel"
                    #empolyeeNameEl
                    />
                    <div 
                        *ngIf="editOrder2Form.submitted && !empolyeeNameModel.valid">
                        <div *ngIf="empolyeeNameModel.errors.required" class="error invalid-feedback d-block ng-star-inserted">
                            Empolyee Name is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-2 col-form-label" for="totalPriceOrder">
                    {{ "Total Price" | localize }}
                </label>
                <div class="col-md-9">
                    <input
                    [class.is-invalid]="editOrder2Form.submitted && !totalPriceModel.valid"
                    type="number"
                    class="form-control"
                    name="totalPrice"
                    id="totalPriceOrder"
                    required
                    maxlength="32"
                    [(ngModel)]="order.totalPrice"
                    #totalPriceModel="ngModel"
                    #totalPriceEl
                    />
                    <div 
                        *ngIf="editOrder2Form.submitted && !totalPriceModel.valid">
                        <div *ngIf="totalPriceModel.errors.required" class="error invalid-feedback d-block ng-star-inserted">
                            Total Price is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row required">
                <label class="col-md-2 col-form-label" for="orderDate">
                    {{ "Order Date" | localize }}
                </label>
                <div class="col-md-9">
                    <input
                    [class.is-invalid]="editOrder2Form.submitted && !orderDateModel.valid"
                    type="date"
                    class="form-control"
                    name="orderDate"
                    id="orderDate"
                    required
                    maxlength="32"
                    [(ngModel)]="order.orderDate"
                    #orderDateModel="ngModel"
                    #orderDateEl
                    />
                    <div 
                        *ngIf="editOrder2Form.submitted && !orderDateModel.valid">
                        <div *ngIf="orderDateModel.errors.required" class="error invalid-feedback d-block ng-star-inserted">
                            Order Date is required
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-borderless">
                <thead class="thead-light">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
    
                    <th></th>

                </thead>
                <tbody>
                    <tr *ngFor = "let item of items">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.totalPrice}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <button class="btn btn-primary ml-auto" type="submit">Save</button>
            </div>
        </div>

    </form>
</div>