<form
  class="form-horizontal"
  autocomplete="off"
  #editOrder2Form="ngForm"
  (ngSubmit)="editOrder2Form.valid && save()"
>
    <abp-modal-header
    [title]="'EditOrder' | localize"
    (onCloseClick)="bsModalRef.hide()"
    ></abp-modal-header>
     <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="orderName">
               {{ "order Name" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="text"
                class="form-control"
                name="name"
                id="orderName"
                required
                maxlength="32"
                [(ngModel)]="order.name"
                #nameModel="ngModel"
                #nameEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editOrder2Form.submitted && !nameModel.valid">
                    <div *ngIf="nameModel.errors.required">
                        order Name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="orderNo">
                {{ "orderNo" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="number"
                class="form-control"
                name="orderNo"
                id="orderNo"
                required
                maxlength="32"
                [(ngModel)]="order.orderNo"
                #orderNoModel="ngModel"
                #orderNoEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editOrder2Form.submitted && !orderNoModel.valid">
                    <div *ngIf="orderNoModel.errors.required">
                        orderNo is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="empolyeeName">
                {{ "Employee Name" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="text"
                class="form-control"
                name="empolyeeName"
                id="empolyeeName"
                required
                minlength="2"
                maxlength="32"
                [(ngModel)]="order.empolyeeName"
                #empolyeeNameModel="ngModel"
                #empolyeeNameEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editOrder2Form.submitted && !empolyeeNameModel.valid">
                    <div *ngIf="empolyeeNameModel.errors.required">
                        Empolyee Name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="totalPriceOrder">
                {{ "Total Price" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="number"
                class="form-control"
                name="totalPrice"
                id="totalPriceOrder"
                required
                maxlength="32"
                [(ngModel)]="order.totalPrice"
                #totalPriceModel="ngModel"
                #totalPriceEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editOrder2Form.submitted && !totalPriceModel.valid">
                    <div *ngIf="totalPriceModel.errors.required">
                        Total Price is required
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="orderDate">
                {{ "Order Date" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="date"
                class="form-control"
                name="orderDate"
                id="orderDate"
                required
                maxlength="32"
                [(ngModel)]="order.orderDate"
                #orderDateModel="ngModel"
                #orderDateEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editOrder2Form.submitted && !orderDateModel.valid">
                    <div *ngIf="orderDateModel.errors.required">
                        Order Date is required
                    </div>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    (onCancelClick)="bsModalRef.hide()"
    ></abp-modal-footer>
</form>

