<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>{{ "Create Order" | localize }}</h1>
            </div>
        </div>
    </div>
</section>
<section class="content px-2">
    <div class="container-fluid">
        <form class="form-horizontal" autocomplete="off" #createOrder2Form="ngForm"
            (ngSubmit)="createOrder2Form.valid && save()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label class="col-form-label" for="name">
                            {{ "Order Name" | localize }}
                        </label>
                        <div>
                            <input [class.is-invalid]="createOrder2Form.submitted && !nameModel.valid" type="text"
                                class="form-control" name="name" id="name" required maxlength="32"
                                [(ngModel)]="order.name" #nameModel="ngModel" #nameEl />
                            <div *ngIf="createOrder2Form.submitted && !nameModel.valid">
                                <div *ngIf="nameModel.errors.required"
                                    class="error invalid-feedback d-block ng-star-inserted">
                                    Name is required
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group required">
                        <label class="col-form-label" for="orderNo">
                            {{ "Order.No" | localize }}
                        </label>
                        <div>
                            <input [class.is-invalid]="createOrder2Form.submitted && !orderNoModel.valid" type="text"
                                class="form-control" name="orderNo" id="orderNo" required maxlength="32"
                                [(ngModel)]="order.orderNo" #orderNoModel="ngModel" #orderNoEl />
                            <div *ngIf="createOrder2Form.submitted && !orderNoModel.valid">
                                <div *ngIf="orderNoModel.errors.required"
                                    class="error invalid-feedback d-block ng-star-inserted">
                                    Order.No is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label class="col-form-label" for="empolyeeName">
                            {{ "Empolyee Name" | localize }}
                        </label>
                        <div>
                            <select 
                            [(ngModel)]="order.empolyeeName"
                            name="empolyeeName"
                            id="empolyeeName"
                            [class.is-invalid]="createOrder2Form.submitted && !empolyeeNameModel.value"
                            class="form-control" 
                            #empolyeeNameModel="ngModel"
                            >
                                <option value="" selected>--selecte employee--</option>
                                <option *ngFor="let user of users" [value]="user.userName">
                                    {{user.userName}}
                                </option>
                            </select>
                            <div *ngIf="createOrder2Form.submitted && !empolyeeNameModel.value">
                                <div 
                                    class="error invalid-feedback d-block ng-star-inserted">
                                    Empolyee Name is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-form-label" for="totalPrice">
                            {{ "TotalPrice" | localize }}
                        </label>
                        <div>
                            <input type="number" class="form-control" name="totalPrice" id="totalPrice" disabled
                                maxlength="32" [(ngModel)]="order.totalPrice" #totalPriceModel="ngModel"
                                #totalPriceEl />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group required">
                        <label class="col-form-label" for="orderDate">
                            {{ "Order Date" | localize }}
                        </label>
                        <div>
                            <input [class.is-invalid]="createOrder2Form.submitted && !orderNoModel.valid" type="date"
                                class="form-control" name="orderDate" id="orderDate" required maxlength="32"
                                [(ngModel)]="order.orderDate" #orderDateModel="ngModel" #orderDateEl />
                            <div *ngIf="createOrder2Form.submitted && !orderDateModel.valid">
                                <div *ngIf="orderDateModel.errors.required"
                                    class="error invalid-feedback d-block ng-star-inserted">
                                    Order Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-md-3 col-form-label">
                          {{ "IsSubmit" | localize }}
                        </label>
                        <div class="col-md-9">
                            <div class="custom-control custom-checkbox">
                                <input
                                type="checkbox"
                                class="custom-control-input"
                                name="isSubmit"
                                id="isSubmit"
                                [(ngModel)]="order.isSubmit"
                                />
                                <label class="custom-control-label mt-2" for="isSubmit"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th style="width: 300px;">
                        <a href="javascript:;" class="btn bg-blue" (click)="createItem()">
                            <i class="fa fa-plus-square"></i>
                            {{ "Add item" | localize }}
                        </a>
                    </th>
                </thead>
                <tbody>
                    <tr *ngIf="!items2.length">
                        <td class="text-center font-italic" colspan="7">
                            No item selected for this order
                        </td>
                    </tr>
                    <tr *ngFor="let item of items2 ; let i=index">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.totalPrice}}</td>
                        <td>
                            <button type="button" class="btn btn-sm bg-secondary" (click)="editItem(item)">
                                <i class="fas fa-pencil-alt"></i>
                                {{ "Edit" | localize }}
                            </button>
                            <button type="button" class="btn btn-sm bg-danger mx-2" (click)="delete(i)">
                                <i class="fas fa-trash"></i>
                                {{ "Delete" | localize }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <button typr="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
                <button (click)="goToViewOrders()" class="btn btn-dark ml-2">View Orders</button>
            </div>
        </form>
    </div>
</section>