<section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Orders" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <a mat-raised-button color="primary" href="javascript:;" (click)="goToCreateOrder()">
            <i class="fa fa-plus-square"></i>
            {{ "Create Order" | localize }}
          </a>
        </div>
      </div>
    </div>
</section>
<section class="content px-2">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-blue"
                    (click)="getDataPage(1)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="keyword"
                  (keyup.enter)="getDataPage(1)"
                />
                <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-default"
                      (click)="advancedFiltersVisible = !advancedFiltersVisible"
                    >
                      <i
                        class="fas"
                        [class.fa-angle-up]="advancedFiltersVisible"
                        [class.fa-angle-down]="!advancedFiltersVisible"
                      ></i>
                    </button>
                </div>
              </div>
              <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-1">
                <div class="card-body">
                  <form class="form-horizontal">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row mb-0">
                          <label class="col-md-3 col-form-label">
                            {{ "IsSubmit" | localize }}
                          </label>
                          <div class="col-md-9 pt-2">
                            <div class="custom-control custom-radio d-inline">
                              <input
                                type="radio"
                                class="custom-control-input"
                                id="isSubmitAll"
                                name="isSubmit"
                                [(ngModel)]="isSubmit"
                                [value]="undefined"
                                checked
                              />
                              <label class="custom-control-label" for="isSubmitAll">
                                {{ "All" | localize }}
                              </label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                              <input
                                type="radio"
                                class="custom-control-input"
                                id="isSubmitSubmit"
                                name="isSubmit"
                                [(ngModel)]="isSubmit"
                                [value]="true"
                              />
                              <label
                                class="custom-control-label"
                                for="isSubmitSubmit"
                              >
                                {{ "Yes" | localize }}
                              </label>
                            </div>
                            <div class="custom-control custom-radio d-inline">
                              <input
                                type="radio"
                                class="custom-control-input"
                                id="isSubmitPassive"
                                name="isSubmit"
                                [(ngModel)]="isSubmit"
                                [value]="false"
                              />
                              <label
                                class="custom-control-label"
                                for="isSubmitPassive"
                              >
                                {{ "No" | localize }}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <button
                    type="button"
                    class="btn bg-blue"
                    (click)="getDataPage(1)"
                  >
                    {{ "Search" | localize }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-default float-right"
                    (click)="clearFilters()"
                  >
                    {{ "Clear" | localize }}
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table  class="table table-hover text-nowrap">
                    <thead class="bg-light">
                        <tr>
                            <th>Name</th>
                            <th>Order.No</th>
                            <th>Order Date</th>
                            <th>Employee Name</th>
                            <th>Total Price</th>
                            <th>is submit</th>
                            <th style="width: 100px;">{{ "Actions" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngIf="!orders.length">
                            <td class="text-center font-italic" colspan="7">
                                No Orders Created
                            </td>
                        </tr>
                        <tr  *ngFor = "let order of orders 
                                      | paginate
                                      : {
                                          id: 'server',
                                          itemsPerPage: pageSize,
                                          currentPage: pageNumber,
                                          totalItems: totalItems
                                        }"
                        >
                            <td>{{order.name}}</td>
                            <td>{{order.orderNo}}</td>
                            <td>{{order.orderDate}}</td>
                            <td>{{order.empolyeeName}}</td>
                            <td>{{order.totalPrice}}</td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input
                                      type="checkbox"
                                      class="custom-control-input"
                                      disabled
                                      [checked]="order.isSubmit"
                                    />
                                    <label class="custom-control-label"></label>
                                </div>
                            </td>
                            <td>
                                <button
                                type="button"
                                class="btn btn-sm bg-secondary"
                                [routerLink] = "['/app/view-orders' , order.id]"
                                >
                                <i class="fas fa-pencil-alt"></i>
                                {{ "Edit" | localize }}
                                </button>

                                <button
                                type="button"
                                class="btn btn-sm bg-danger mx-2"
                                (click)="delete(order)"
                                > 
                                <i class="fas fa-trash"></i>
                                {{ "Delete" | localize }}
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="card-footer bg-light border-top">
                <div class="row">
                  <div class="col-sm-4 col-12 text-sm-left text-center">
                      <button class="btn btn-secondary" (click)="refresh()">
                        <i class="fas fa-redo-alt"></i>
                      </button>
                  </div>
                  <div class="col-sm-4 col-12 text-center">
                    <p class="mb-0 my-2">
                      {{ "TotalRecordsCount" | localize: totalItems }}
                    </p>
                  </div>
                  <div class="col-sm-4 col-12">
                    <div class="float-sm-right m-auto">
                      <abp-pagination-controls
                        id="server"
                        (pageChange)="getDataPage($event)"
                      >
                      </abp-pagination-controls>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>







