<form
  class="form-horizontal"
  autocomplete="off"
  #editItemForm="ngForm"
  (ngSubmit)="editItemForm.valid && save() "
>
    <abp-modal-header
    [title]="'EditItem' | localize"
    (onCloseClick)="bsModalRef.hide()"
    ></abp-modal-header>
     <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="itemName">
               {{ "Item Name" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="text"
                class="form-control"
                name="name"
                id="itemName"
                required
                maxlength="32"
                [(ngModel)]="item.name"
                #nameModel="ngModel"
                #nameEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editItemForm.submitted && !nameModel.valid">
                    <div *ngIf="nameModel.errors.required">
                        Name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="price">
                {{ "Price" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="number"
                class="form-control"
                name="price"
                id="price"
                required
                maxlength="32"
                [(ngModel)]="item.price"
                #priceModel="ngModel"
                #priceEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editItemForm.submitted && !priceModel.valid">
                    <div *ngIf="priceModel.errors.required">
                        Price is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="quantity">
                {{ "Quantity" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="number"
                class="form-control"
                name="quantity"
                id="quantity"
                required
                minlength="2"
                maxlength="32"
                [(ngModel)]="item.quantity"
                #quantityModel="ngModel"
                #quantityEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editItemForm.submitted && !quantityModel.valid">
                    <div *ngIf="quantityModel.errors.required">
                        Quantity is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="totalPriceItem">
                {{ "Total Price" | localize }}
            </label>
            <div class="col-md-9">
                <input
                type="number"
                class="form-control"
                name="totalPrice"
                id="totalPriceItem"
                required
                maxlength="32"
                [(ngModel)]="item.totalPrice"
                #totalPriceModel="ngModel"
                #totalPriceEl
                />
                <div 
                    class="text-danger"
                    *ngIf="editItemForm.submitted && !totalPriceModel.valid">
                    <div *ngIf="totalPriceModel.errors.required">
                        Total Price is required
                    </div>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    (onCancelClick)="bsModalRef.hide()"
    ></abp-modal-footer>
</form>
