<form
  class="form-horizontal"
  autocomplete="off"
  #editItem2Form="ngForm"
  (ngSubmit)="editItem2Form.valid && save() "
>
    <abp-modal-header
    [title]="'EditItem' | localize"
    (onCloseClick)="bsModalRef.hide()"
    ></abp-modal-header>
     <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field 
                appearance="fill"
                [class.mat-form-field-invalid]="editItem2Form.submitted && nameModel.hasError('required')"
                class="w-100">
                    <mat-label for="itemName">
                        {{ "Item Name" | localize }}
                    </mat-label>
                    <input 
                    matInput 
                    type="text"
                    name="name"
                    id="itemName"
                    required
                    maxlength="32"
                    [(ngModel)]="item.name"
                    #nameModel="ngModel"
                    #nameEl
                    >
                    <mat-error *ngIf="editItem2Form.submitted && nameModel.hasError('required')">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field 
                appearance="fill"
                [class.mat-form-field-invalid]="editItem2Form.submitted && priceModel.hasError('required')"
                class="w-100">
                    <mat-label for="price">
                        {{ "Price" | localize }}
                    </mat-label>
                    <input 
                    matInput 
                    type="number"
                    name="price"
                    id="price"
                    required
                    maxlength="32"
                    [(ngModel)]="item.price"
                    #priceModel="ngModel"
                    #priceEl
                    >
                    <mat-error *ngIf="editItem2Form.submitted && priceModel.hasError('required')">
                        Price is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field 
                appearance="fill"
                [class.mat-form-field-invalid]="editItem2Form.submitted && quantityModel.hasError('required')"
                class="w-100">
                    <mat-label for="quantity">
                        {{ "Quantity" | localize }}
                    </mat-label>
                    <input 
                    matInput 
                    type="number"
                    name="quantity"
                    id="quantity"
                    (keyup)="UpdateTotal()"
                    required
                    minlength="2"
                    maxlength="32"
                    [(ngModel)]="item.quantity"
                    #quantityModel="ngModel"
                    #quantityEl
                    >
                    <mat-error *ngIf="editItem2Form.submitted && quantityModel.hasError('required')">
                        Quantity is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field 
                appearance="fill"
                class="w-100">
                    <mat-label for="totalPriceItem">
                        {{ "Total Price" | localize }}
                    </mat-label>
                    <input 
                    matInput 
                    type="number"
                    name="totalPrice"
                    id="totalPriceItem"
                    disabled
                    maxlength="32"
                    [(ngModel)]="item.totalPrice"
                    #totalPriceModel="ngModel"
                    #totalPriceEl
                    >
                </mat-form-field>
            </div>
        </div>
        <hr>
        <button mat-raised-button color="primary" type="submit" class="float-right">save</button>
        <button mat-raised-button  class="btn-secondary" type="button" (click)="bsModalRef.hide()">cancel</button>
        <div class="clear-fix"></div>
    </div>

</form>
