<div class="container">
    <form
    class="form-horizontal"
    autocomplete="off"
    #createOrderModal="ngForm"
    (ngSubmit)="createOrderModal.valid &&  save()"
    >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="col-form-label" for="name">
                    {{ "Order Name" | localize }}
                    </label>
                    <div>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            id="name"
                            required
                            maxlength="32"
                            [(ngModel)]="order.name"
                            #nameModel="ngModel"
                            #nameEl
                        />
                        <div 
                        class="text-danger"
                        *ngIf="createOrderModal.submitted && !nameModel.valid">
                            <div *ngIf="nameModel.errors.required">
                                Name is required
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group required">
                    <label class="col-form-label" for="orderNo">
                    {{ "Order.No" | localize }}
                    </label>
                    <div>
                        <input
                            type="text"
                            class="form-control"
                            name="orderNo"
                            id="orderNo"
                            required
                            maxlength="32"
                            [(ngModel)]="order.orderNo"
                            #orderNoModel="ngModel"
                            #orderNoEl
                        />
                        <div 
                        class="text-danger"
                        *ngIf="createOrderModal.submitted && !orderNoModel.valid">
                            <div *ngIf="orderNoModel.errors.required">
                                Order.No is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="col-form-label" for="empolyeeName">
                    {{ "Empolyee Name" | localize }}
                    </label>
                    <div>
                        <input
                            type="text"
                            class="form-control"
                            name="empolyeeName"
                            id="empolyeeName"
                            required
                            maxlength="32"
                            [(ngModel)]="order.empolyeeName"
                            #empolyeeNameModel="ngModel"
                            #empolyeeNameEl
                        />
                        <div 
                        class="text-danger"
                        *ngIf="createOrderModal.submitted && !empolyeeNameModel.valid">
                            <div *ngIf="empolyeeNameModel.errors.required">
                                Empolyee Name is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-form-label" for="totalPrice">
                    {{ "Total Price" | localize }}
                    </label>
                    <div>
                        <input
                            type="number"
                            class="form-control"
                            name="totalPrice"
                            id="totalPrice"
                            required
                            maxlength="32"
                            [(ngModel)]="order.totalPrice"
                            #totalPriceModel="ngModel"
                            #totalPriceEl
                        />
                        <div 
                        class="text-danger"
                        *ngIf="createOrderModal.submitted && !totalPriceModel.valid">
                            <div *ngIf="totalPriceModel.errors.required">
                                Total Price is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                
                <div class="form-group required">
                    <label class="col-form-label" for="orderDate">
                    {{ "Order Date" | localize }}
                    </label>
                    <div>
                        <input
                            type="date"
                            class="form-control"
                            name="orderDate"
                            id="orderDate"
                            required
                            maxlength="32"
                            [(ngModel)]="order.orderDate"
                            #orderDateModel="ngModel"
                            #orderDateEl
                        />
                        <div 
                        class="text-danger"
                        *ngIf="createOrderModal.submitted && !orderDateModel.valid">
                            <div *ngIf="orderDateModel.errors.required">
                                Order Date is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button  typr="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
            <button  (click)="goToViewOrders()" class="btn btn-dark ml-2">View Orders</button>
        </div>
    </form>

        <table class="table table-borderless">
            <thead class="thead-light">
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>

                <th></th>
                <th>
                    <a href="javascript:;" class="btn bg-blue" (click)="createItem()">
                        <i class="fa fa-plus-square"></i>
                        {{ "Add item" | localize }}
                    </a>
                </th>
            </thead>
            <tbody>
                <tr *ngFor = "let item of items">
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.totalPrice}}</td>
                    <td>
                        <button
                        type="button"
                        class="btn btn-sm bg-secondary"
                        (click)="editItem(item)"
                        >
                        <i class="fas fa-pencil-alt"></i>
                        {{ "Edit" | localize }}
                        </button>
                    </td>
                    <td>
                        <button
                        type="button"
                        class="btn btn-sm bg-danger"
                        (click)="delete(item)"
                        > 
                        <i class="fas fa-trash"></i>
                        {{ "Delete" | localize }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
       
</div>

    