<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>{{ "Create Order" | localize }}</h1>
            </div>
        </div>
    </div>
</section>
<section class="content px-2">
    <div class="container-fluid">
        <form class="form-horizontal" autocomplete="off" #createOrderModal="ngForm"
            (ngSubmit)="createOrderModal.valid &&  save()">
                <div class="row">
                    <div class="col-md-6">

                        <mat-form-field 
                        appearance="fill"
                        [class.mat-form-field-invalid]="createOrderModal.submitted && nameModel.hasError('required')"
                        class="w-100">
                            <mat-label for="name">
                                {{ "Order Name" | localize }}
                            </mat-label>
                            <input 
                            matInput 
                            type="text"
                            name="name" 
                            id="name" 
                            required 
                            maxlength="32"
                            [(ngModel)]="order.name" 
                            #nameModel="ngModel" 
                            >
                            <mat-error *ngIf="createOrderModal.submitted && nameModel.hasError('required')">
                                Name is required
                            </mat-error>
                        </mat-form-field>
                          
                    </div>

                    <div class="col-md-6">
                        <mat-form-field 
                        appearance="fill" 
                        [class.mat-form-field-invalid]="createOrderModal.submitted && orderNoModel.hasError('required')"
                        class="w-100">
                            <mat-label for="orderNo">
                                {{ "Order.No" | localize }}
                            </mat-label>
                            <input 
                            matInput 
                            type="text"
                            name="orderNo" 
                            id="orderNo" 
                            required 
                            maxlength="32"
                            [(ngModel)]="order.orderNo" 
                            #orderNoModel="ngModel" 
                            #orderNoEl >
                            <mat-error *ngIf="createOrderModal.submitted && orderNoModel.hasError('required')">
                                Order.No is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field 
                        appearance="fill"
                        [class.mat-form-field-invalid]="createOrderModal.submitted && empolyeeNameModel.hasError('required')"
                        class="w-100">
                            <mat-label for="empolyeeName">
                                {{ "Empolyee Name" | localize }}
                            </mat-label>

                            <mat-select 
                            [(ngModel)]="order.empolyeeName"
                            name="empolyeeName"
                            id="empolyeeName"
                            #empolyeeNameModel="ngModel"
                            required
                            >
                              <mat-option>--</mat-option>
                              <mat-option *ngFor="let user of users" [value]="user.userName">
                                {{user.userName}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="createOrderModal.submitted && empolyeeNameModel.hasError('required')">Please choose an Employee Name</mat-error>
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">

                        <mat-form-field 
                        appearance="fill"
                        class="w-100">
                            <mat-label for="totalPrice">
                                {{ "Total Price" | localize }}
                            </mat-label>
                            <input 
                            matInput 
                            type="number" 
                            name="totalPrice" 
                            id="totalPrice" 
                            disabled
                            maxlength="32" 
                            [(ngModel)]="order.totalPrice" 
                            #totalPriceModel="ngModel"
                            #totalPriceEl 
                            >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field  
                        appearance="fill"
                        [class.mat-form-field-invalid]="createOrderModal.submitted && orderDateModel.hasError('required')"
                        class="w-100"
                        >
                            <mat-label for="orderDate">
                                {{ "Order Date" | localize }}
                            </mat-label>
                            <input 
                            matInput 
                            [matDatepicker]="picker1"
                            name="orderDate" 
                            id="orderDate" 
                            required 
                            maxlength="32"
                            [(ngModel)]="order.orderDate" 
                            #orderDateModel="ngModel" 
                            #orderDateEl
                            >
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="createOrderModal.submitted && orderDateModel.hasError('required')">
                                Order Date is required
                            </mat-error>
                          </mat-form-field>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-checkbox
                    name="isSubmit"
                    id="isSubmit"
                    [(ngModel)]="order.isSubmit"
                    color="primary"
                    >
                        {{ "IsSubmit" | localize }}
                    </mat-checkbox>
                </div>
            </div>

            <div class="form-group mt-3 mb-0">
                <button mat-raised-button color="primary" typr="submit" ><i class="fa fa-database"></i> Submit Master</button>
                <button mat-raised-button color="primary" (click)="goToViewOrders()" class="ml-2">View Orders</button>            
            </div>
        </form>
    </div>

</section>