<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>{{ "Create Order" | localize }}</h1>
            </div>
        </div>
    </div>
</section>
<section class="content px-2">
    <div class="container-fluid">
        <form class="form-horizontal" autocomplete="off" [formGroup]="registerForm"
            (ngSubmit)="save()">
                <div class="row">
                    <div class="col-md-6">

                        <mat-form-field 
                        appearance="fill"
                        [class.mat-form-field-invalid]= "registerForm.get('name').errors && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="w-100">
                            <mat-label for="name">
                                {{ "Order Name" | localize }}
                            </mat-label>
                            <input 
                            matInput 
                            type="text"
                            formControlName="name"
                            name="name" 
                            id="name" 
                            required 
                            maxlength="32"
                            >
                            <mat-error *ngIf=" isValidFormSubmitted != null && !isValidFormSubmitted && registerForm.get('name').hasError('required')">
                                Order Name is required
                            </mat-error>
                        </mat-form-field>

                          
                    </div>

                    <div class="col-md-6">
                        <mat-form-field 
                        appearance="fill" 
                        [class.mat-form-field-invalid]= "registerForm.get('orderNo').errors && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="w-100">
                            <mat-label for="orderNo">
                                {{ "Order.No" | localize }}
                            </mat-label>
                            <input 
                            matInput 
                            type="text"
                            formControlName="orderNo"
                            name="orderNo" 
                            id="orderNo" 
                            required 
                            maxlength="32"
                            #orderNoEl >
                            <mat-error *ngIf="isValidFormSubmitted != null && !isValidFormSubmitted && registerForm.get('orderNo').hasError('required')">
                                Order.No is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field 
                        appearance="fill"
                        [class.mat-form-field-invalid]= "registerForm.get('empolyeeName').errors && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="w-100">
                            <mat-label for="empolyeeName">
                                {{ "Employee Name" | localize }}
                            </mat-label>

                            <mat-select 
                            formControlName="empolyeeName"
                            name="empolyeeName"
                            id="empolyeeName"
                            required
                            >
                              <mat-option>--</mat-option>
                              <mat-option *ngFor="let user of users" [value]="user.userName">
                                {{user.userName}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="isValidFormSubmitted != null && !isValidFormSubmitted && registerForm.get('empolyeeName').hasError('required')">Please choose an Employee Name</mat-error>
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">

                        <mat-form-field 
                        appearance="fill"
                        class="w-100">
                            <mat-label for="totalPrice">
                                {{ "Total Price" | localize }}
                            </mat-label>
                            <input 
                            matInput 
                            type="number" 
                            formControlName="totalPrice"
                            name="totalPrice" 
                            id="totalPrice" 
                            disabled
                            maxlength="32" 
                            #totalPriceEl 
                            >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field  
                        appearance="fill"
                        [class.mat-form-field-invalid]= "registerForm.get('datetime').errors && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="w-100"
                        >
                        <mat-label for="orderDate">
                            {{ "Order Date" | localize }}
                        </mat-label>
   

                        <input 
                        matInput 
                        name="orderDate" 
                        id="orderDate" 
                        required 
                        formControlName="datetime"
                        [ngxMatDatetimePicker]="picker"
                        >
                         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                         <ngx-mat-datetime-picker #picker 
                         [enableMeridian]="true"
                         [showSpinners]="true" 
                            >
                         </ngx-mat-datetime-picker>
                         <mat-error *ngIf="isValidFormSubmitted != null && !isValidFormSubmitted && registerForm.get('datetime').hasError('required')">
                            Order Date is required
                        </mat-error>
                          </mat-form-field>

                    </div>

                    <div class="col-md-6">
                        <custom-attachment formControlName="file" [(ngModel)]="file" name="file" ></custom-attachment>
                        <mat-error *ngIf="isValidFormSubmitted != null && !isValidFormSubmitted && registerForm.get('file').hasError('required')">
                            Please select file
                        </mat-error>

                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-checkbox
                    name="isSubmit"
                    id="isSubmit"
                    color="primary"
                    formControlName="isSubmit"
                    >
                        {{ "IsSubmit" | localize }}
                    </mat-checkbox>
                </div>
            </div>

            <div class="form-group mt-3 mb-0">
                <button mat-raised-button color="primary" type="submit" ><i class="fa fa-database"></i>{{ "Submit Master" | localize }}</button>
                <button mat-raised-button color="primary" (click)="goToViewOrders()" class="ml-2">{{ "View Orders" | localize }}</button>    
     
            </div>
        </form>
    </div>

</section>